body, html {
    margin: 0;
    padding: 0;
}

#camera-preview {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#video-frame {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    height: auto;
}

#capture-button, #photo-upload-icon {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
    width: 50px;
    height: 50px;
    margin: 0;
    padding: 0;
    border: none;
    background: url(baseline-camera-24px.svg) center;
    background-size: cover;
}

#photo-upload-icon {
    left: 25px;
    background-image: url(baseline-photo-24px.svg);
}

input#photo-upload {
    display: none;
}