body, html {
    margin: 0;
    padding: 0;
    background-color: black;
}

#video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#video-frame {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    height: auto;
}

#capture-button, #photo-upload-icon {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
    width: 50px;
    height: 50px;
    margin: 0;
    padding: 0;
    border: none;
    background: url(baseline-camera-24px.svg) center;
    background-size: cover;
    z-index: 1;
}

#photo-upload-icon {
    left: 25px;
    background-image: url(baseline-photo-24px.svg);
}

input#photo-upload {
    display: none;
}

#debug {
    position: fixed;
    right: 0;
    bottom: 0;
    text-align: end;
    margin: 0.5em;
    white-space: pre;
    color: white;
    font-weight: bold;
    z-index: 1;
}